body{
    background-color: rgb(63, 60, 60);
    background-size: cover;
    
}


header{
    background-color: rgba(156, 55, 9, 0.911);
    color: white;
    padding: 1em 1em 1em 2em;
    
}

.container{
    background-color: grey;
    border-radius: 5%;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}

.mealItemsContainer{
    background-color: white;
    padding: 5%;
}